---
import { Head } from "astro-capo";
import SanityLive from '../components/shared/SanityLive.astro'
import { ClientRouter } from "astro:transitions"
import {defineQuery} from 'groq'

import "../styles/global.css";
import "../styles/reset.css";
import { sanityFetch } from "../data/sanity/live";

interface Props {
  lastLiveEventId: string | null
  title: string
}

const {lastLiveEventId, title} = Astro.props

const LAYOUT_QUERY = defineQuery(`*[_id == "theme"][0]{background,text}`)
const {data, tags} = await sanityFetch({query: LAYOUT_QUERY, lastLiveEventId})
---

<!doctype html>
<html lang="en">
	<Head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter/>
	</Head>
	<body>
		<slot />
		{Array.isArray(tags) && tags.length > 0 && <SanityLive tags={tags} />}
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
